.btn-has-dropdown{
  position:relative;
}
.btn-sub-menu{
  margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    z-index: 1024;
    display: none;
    left: 0;
    width: 200px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
}
.btn-has-dropdown.show .btn-sub-menu{
  display: block;
}
.btn-sub-menu li {
  padding:0 10px;
  margin:0px;
  list-style: none;
  display:block;
  width: 100%;
}
.btn-sub-menu li a{
  text-decoration: none;
  display: block;
  color:#000;
}
