.list-group-item:hover{
  background-color: #f1f1f1;
}
.list-group-item-heading{
  color:#000;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}
.list-group-item-text{
  margin: 0px;
  padding: 0px;
  color:#666;
  font-size: 13px;
  font-weight: 400;
}
